/*
* @Author: Admin
* @Date:   2019-12-23 18:56:30
* @Last Modified by:   Admin
* @Last Modified time: 2019-12-23 19:29:51
*/
*{
	padding: 0;
	margin: 0;
}
body{
	background: #c3272b;
}
ul,li{
	list-style: none; 
	text-align: center;
}
.box{
	width: 1200px;
	height:600px;
	border: 1px solid red;
	margin: 100px auto;
	position: relative;
	overflow: hidden;
}
.box img{
	width: 1200px;
	height: 600px;
}
.slider{
	width: 8400px;
	position: absolute;
	left: -1200px;

}
.slide{
	width: 1200px;
	overflow: hidden;
	float: left;

}
.box>span{
	display: block;
	width: 30px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	color: black;
	top: 300px;
	line-height: 50px;
	background: rgb(255, 0, 0);
	font-size: 30px;
	position: absolute;
	opacity: 0;
	/* cursor: pointer; */
}
#left{
	left: 30px;
}
#right{
	right: 30px;
}
.nav{
	position: absolute;
	left: 500px;
	bottom: 20px;
}
.nav>li{
	float: left;
	width: 20px;
	height: 20px;
	background: #ccc;
	margin: 0 10px;
	border-radius: 50%;
	cursor: pointer;
}
.nav .active{
	background: red;
}
#hdt{
	width: 100%;
	height: 30px;
	position: absolute;
	top: 0px;
	background-color: #ccc;
}
.img1{
	width: 30px;
	height: 30px;
	position: absolute;
	left: 160px;
}
#guntiao{
	width: 980px;
	height: 30px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	right: 200px;
}
.warn{
	font-size: 16px;
	line-height: 20px;
	color: red;
	position: absolute;
	top: 6px;
	left: 100px;
	overflow: hidden;
}