

*{
    padding:0;
    margin:0;
}
li{
    list-style:none;
}
.head{
	padding-top: 20px;
	margin: 0 auto;
	height: 75px;
	width: 1240px;
	background: url('a16.jpg');
}
.logo{
	float:left;
	width: 210px; 
	height: 75px;
}
.logo img{
	width:185px;
	height:66px;
}
.title {
	float:left;
	height:67px;
}
.title li{
	width:120px;
	float:left;
	height:72px;
	line-height:67px;
	text-align:center;
	position:relative;
}
.title li a{
	font-size:28px; 
	color:#fff; 
	display:block;
}
.title li:hover{
	border-bottom: 6px white solid;
}
.stn1{
	padding-top: 8px;
	width: 80px;
	float:right;
	height: 75px;
}
.stn2{
	padding-top:8px;
	width: 80px;
	float: right;
	height: 75px; 
}
.box{
	height: 380px;
	width: 1200px;
	border: 0.1px;
	margin: 20px auto;
	position: relative;
	overflow: hidden;
}
.slider{
	width: 8400px;
	position: absolute;
	left: -1200px;
}
.slide{
	width: 1200px;
	overflow: hidden;
	float: left;
}
.box>span{
	display: block;
	width: 30px;
	height: 80px;
	text-align: center;
	cursor: pointer;
	color:   ;
	top: 175px;
	line-height: 80px;
	background: grey;
	font-size: 30px;
	position: absolute;
	opacity: 0;
}
#left{
	left:0px;
}
#right{
	right:0px;
}
.nav{
	position: absolute;
	left: 510px;
	bottom: 8px;
}
.nav>li{
	font-size: 0.75em;
	line-height: -2px;
	text-align: center;
	float: left;
	width: 20px;
	height: 20px;
	background: #cccccc;
	cursor: pointer;
	margin: 0 10px;
	border-radius: 50%;
}
.nav .active{
	background: black;
	color: #ccc;
}
.gou{
	height:80px;
    width:60px;
    position:fixed;
    top:180px;
    right:58px;
    background:url('s1.png') no-repeat center black;
    border-bottom:2px solid white;
}
.q{
	height:80px;
	width:60px;
	position:fixed;
	top:262px;
	right:58px;
	background:url('s2.png') no-repeat center black;
	border-bottom:2px solid white;
}
.jiao{
	height:80px;
	width:60px;
	position:fixed;
	top:344px;
	right:58px;
	background:url('s3.png') no-repeat center black;
	border-bottom:2px solid white;
}
.er{
	height:80px;
	width:60px;
	position:fixed;
	top:426px;
	right:58px;
	background:url('s4.png') no-repeat center black;
	border-bottom:2px solid white;
}
.shang{
	height:80px;
	width:60px;
	position:fixed;
	top:508px;
	right:58px;
	background:url('s5.png') no-repeat center black;
	border-bottom:2px solid white;
}
.ss1{
	width: 1200px;
	height: 700px;
	margin:0 auto;
	list-style:none;
}
.ss2{
	width: 1200px;
	height: 770px;
}
.ss2 li{
	width: 270px;
	height: 300px;
	float: left;
	border:1px solid #a0a0a0;
	position: relative;
	text-align:center;
	margin-right:28px;
	margin-bottom:80px;
	list-style:none;
}
.ss2 div{
	width: 270px;
	height: 80px;
	color: white;
	position: absolute;
	bottom: 0;
	background-color:#4c4c4c;
}
.ss2 li div{
	display: block;
	opacity: 0.6;
	text-align: center;
}
.ss2 li:hover div{
	width: 270px;
	height: 175px;
	font-size: 22px;
	color:white;
	position:absolute;
	bottom: 0;
	display: none;
	background-color:#4c4c4c;
	display: block;
	opacity: 0.8;
	text-align: center;
	padding-top:120px;
}
.tian1{
	width: 1200px;
	height: 930px;
	background: rgb(236, 236, 236);
	background: url('zhong1.png') no-repeat center rgb(236, 236, 236);
	margin: 0 auto;
}
.tian2{
	width: 1200px;
	height: 395px;
	background: rgb(236, 236, 236);
	background: url('zhong2.png') no-repeat center rgb(236, 236, 236);
	margin: 0 auto;
}
.jie{
	width:100%;
	height:110px;
	background-color:#f5f5f5;
}
.jie1{
	width:1200px;
	height:110px;
	margin:0 auto;
}
.jie2{
	width:280px;
	height:80px;
	border-right:2px solid #e2e2e2;
	list-style:none;
	display:inline-block;
	margin-left:5px;
	margin-top:15px;
}
.j3{
	width:180px;
	height:39px;
	float:right;
	margin-top:1px;
	font-size:1.7em;
}
.j2{
	width:80px;
	height:80px;
	background:url('s1.png') no-repeat center;
	float:left;
}
.j4{
	width:180px;
	height:35px;
	float:right;
	margin-top:3px;
}
.j5{
	width:80px;
	height:80px;
	background:url('s1.png') no-repeat center;
	float:left;
}
.j6{
	width:80px;
	height:80px;
	background:url('s1.png') no-repeat center;
	float:left;
}
.j7{
	width:80px;
	height:80px;
	background:url('s1.png') no-repeat center;
	float:left;
}
.jie8{
	width:280px;
	height:80px;
	list-style:none;
	display:inline-block;
	margin-left:5px;
	margin-top:15px;
}
.jeiwei1{
	width:100%;
	height:90px;
	background:#323232;
	overflow:hidden;
}
.jeiwei{
	width:750px;
	height:50px;
	margin:11px auto 0;
	line-height:34px;
	text-align:center;
}
.jeiwei p{
	color:#9e9e9e;
	font-size:13px;
}
.jeiwei p a{
	color:#9e9e9e;
	margin-left:4px;
	margin-right:5px;
}
a{
	text-decoration:none;
	color:#9e9e9e;
}
.zui{
	width:700px;
	height:20px;
	margin:0 auto;
	list-style:none;
	line-height:20px;
	text-align:center;
	color:#9e9e9e;
	font-size:13px;
}